doctype html
html
    head
    title= title
     link(rel="stylesheet", href="/bootstrap/bootstrap.css")
     link(rel="stylesheet", href="/style.css")
   body
     .container
       .navbar.navbar-default
         .container
           .navbar-header
             a.navbar-brand(href='/')= appname
       .alert.alert-dismissable
       h1= title
       p 
  block content
    link 
    a(href='/') Welcome
   script(src='/javascripts/jquery.js', type="text/javascript")
   script(src='/javascripts/main.js', type="text/javascript")